body {
    min-height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 16%, rgba(120,139,227,1) 62%, rgba(39,226,222,1) 88%) fixed;
}

.circle {
    background: rgb(39,226,222);
    margin: 100px auto;        
    width: 500px;
    height: 500px;
    border-radius: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.6);
}

.circle-start {
    background: linear-gradient(45deg, rgba(39,226,222,1) 12%, rgba(104,121,197,1) 40%, rgba(0,0,0,1) 76%);
}

.circle-reverse {
    background: radial-gradient(circle, rgba(0,0,0,1) 27%, rgba(104,121,197,1) 72%, rgba(39,226,222,1) 91%);
}


/* background: radial-gradient(circle, rgba(39,226,222,1) 12%, rgba(104,121,197,1) 40%, rgba(0,0,0,1) 76%); */
